* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.imagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 5px;
}

#naruto, 
#piece, 
#slayer, 
#jujutsu, 
#dragon {
    width: 261px;
    height: 100vh;
    object-fit: cover;
}

#quiz {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 650px;
    height: 458px;
    padding: 65px 20px;
    background-color: #D9D9D9;
    border-radius: 30px;
    opacity: 0.73;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#idQuestion {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.answer {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #FFFCFC;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.answer:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Indicadores de nível */
.green, .orange, .red {
    width: 21px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 590px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 5px 15px rgba(0, 0, 0, 0.3);
}

.green {
    background-color: hsl(120, 100%, 40%);
}

.orange {
    background-color: hsl(39, 100%, 48%);
}

.red {
    background-color: hsl(0, 100%, 50%);
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}